[
{
    "project": "testproj",
    "to": ["irc://chat.freenode.net/#testproj", "irc://chat.freenode.net/#commits"]
},
{
    "project": "some-other-thing",
    "module": "botspam",
    "to": ["irc://chat.freenode.net/#commits", "irc://chat.atheme.org/#botspam"]
},
{
    "author": "me",
    "to": "irc://chat.freenode.net/##my-awesome-channel"
}
]
